/* Tailwind Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Scrollbar Styling */
/* Hide scrollbars initially */
.master::-webkit-scrollbar {
  display: none;
}

/* General Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
  height: 6px; /* Set the height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(156, 155, 155, 0.733); /* Dark grey handle */
  border-radius: 3px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darken the handle on hover */
}

/* Horizontal Scrollbar Specific Styling */
::-webkit-scrollbar-horizontal {
  height: 6px; /* Set the height of the horizontal scrollbar */
}

::-webkit-scrollbar-track-piece {
  background: #f1f1f1; /* Light grey background */
}

::-webkit-scrollbar-thumb-piece {
  background: rgba(156, 155, 155, 0.733); /* Dark grey handle */
  border-radius: 3px; /* Rounded corners */
}

::-webkit-scrollbar-thumb-piece:hover {
  background: #555; /* Darken the handle on hover */
}

/* Global Styling */
/* Root Styling */
:root {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  /* background: #CA2247; */
}

/* Typography */
h1 {
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
  font-size: 20px;
  height: 22px;
}

p {
  font-family: sans-serif;
  font-size: 12.5px;
}

label {
  font-size: 14px;
  font-weight: 400;
  font-family: sans-serif;
}

button {
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
}

/* Background Image Classes */
.bg-main-img {
  background-image: url("../public/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-main-user {
  background-image: url("../public/main-bg-user.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-thankyou {
  background-image: url("../public/thankyou.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-my-user {
  background-image: url("../public/myuser-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-assessment {
  background-image: url("../public/assessiment-btn.png");
  background-size: cover;
  background-repeat: no-repeat;
}