/* Tailwind Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





/* Scrollbar Styling */
/* Hide scrollbars initially */
.master::-webkit-scrollbar {
  display: none;
}

/* General Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
  height: 6px; /* Set the height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(156, 155, 155, 0.733); /* Dark grey handle */
  border-radius: 3px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darken the handle on hover */
}

/* Horizontal Scrollbar Specific Styling */
::-webkit-scrollbar-horizontal {
  height: 6px; /* Set the height of the horizontal scrollbar */
}

::-webkit-scrollbar-track-piece {
  background: #f1f1f1; /* Light grey background */
}

::-webkit-scrollbar-thumb-piece {
  background: rgba(156, 155, 155, 0.733); /* Dark grey handle */
  border-radius: 3px; /* Rounded corners */
}

::-webkit-scrollbar-thumb-piece:hover {
  background: #555; /* Darken the handle on hover */
}



/* Background Image Classes */
.bg-effect {
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(350deg);
  top: -95%;
  width: 90%;
  pointer-events: none;
}

.bg-effect1 {
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(310deg);
  left: -35% !important;
  top: -45% !important;
  width: 50%;
  height: 50%;
  pointer-events: none;
}

@media (max-width: 640px) {
  .bg-effect, .bg-effect1 {
    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;
    transform: rotate(0);
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .bg-effect {
    top: -85%;
    width: 80%;
  }

  .bg-effect1 {
    left: -25% !important;
    top: -35% !important;
    width: 40%;
    height: 40%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .bg-effect {
    top: -110%;
    width: 89%;
  }

  .bg-effect1 {
    left: -24% !important;
    top: -42% !important;
    width: 45%;
    height: 45%;
  }
}

@media (min-width: 1441px) and (max-width: 2048px) {
  .bg-effect {
    top: -50%;
    transform: rotate(425deg);
    width: 40%;
    left: 35%;
  }

  .bg-effect1 {
    left: -15% !important;
    top: -57% !important;
    width: 50%;
    height: 50%;
  }
}



:root{
  --bg-primary: #FF6B00;
  --bg-secondary: #FF6B01;
  --text-primary: #FFFFFF;
  --text-secondary:#FF6B01 ;
}