@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-main-img {
  background-image: url('./assets/main_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-main-user {
  background-image: url('./assets/main_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}




/* Hide scrollbars initially */
.master::-webkit-scrollbar {
  display: none;
}

/* General scrollbar styling */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
  height: 6px; /* Set the height of the horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(156, 155, 155, 0.733); /* Dark grey handle */
  border-radius: 3px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darken the handle on hover */
}

/* Horizontal scrollbar styling */
::-webkit-scrollbar-horizontal {
  height: 6px; /* Set the height of the horizontal scrollbar */
}

::-webkit-scrollbar-track-piece {
  background: #f1f1f1; /* Light grey background */
}

::-webkit-scrollbar-thumb-piece {
  background: rgba(156, 155, 155, 0.733); /* Dark grey handle */
  border-radius: 3px; /* Rounded corners */
}

::-webkit-scrollbar-thumb-piece:hover {
  background: #555; /* Darken the handle on hover */
}
  


:root{
  font-family: sans-serif;
  /* background: #CA2247; */
 
}

h1{
  font-family: sans-serif;
}

p{
  font-family: sans-serif;
  font-size: 12.5px;
  
}
label{
  font-size: 14px;
  font-weight: 400;
  font-family: sans-serif;
}

button{
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
}